ul
  li
    a(href="/") Home
  li
    a(href="/quicktags") Instagram Feed
  li
    a(href="/tumblr") Tumblr Stuff
  if (user)
    li
      a(href="/account") Account Settings
    li
      a(href="/logout") Logout
  else
    li
      a(href="/register") Register
    li
      a(href="/login") Login
