extends ../templates/out-of-app
  
block content
  h2 Account
  
  strong Tumblr
  if (user.tumblr)
    div.well.well-sm #{user.tumblr.name}
  else
    div.well.well-sm Not authenticated (you shouldn't be able to be here, though :/)
  
  strong Instagram
  if (user.instagram)
    div.well.well-sm #{user.instagram.username} (##{user.instagram.id})
  else
    div.well.well-sm Not authenticated
  
  hr
  p
    | If you want to start over with a clean account, or just want to delete everything 
    | we know about you and your #[strong reblog.media] account, you can do it very easily 
    | by #[a(href="" ng-click="confirmDelete()") clicking here].
  
  div(role="alert").alert.alert-warning
    | It is not possible to delete your account in this test version of the app.
  
  hr
  a(href="/" class="btn btn-success btn-block") Return to app
