h1 Account
p
  | This app uses Instagram for the media feed and Tumblr as
  | the reblog/queue endpoint. So you have to connect both to
  | start using this app.
  
  button(type="button" class="btn btn-default" ng-disabled="isTumblrConnected")
    a(href="/api/tumblr/auth" target="_self") Connect Tumblr
  button(type="button" class="btn btn-default" ng-disabled="isInstagramConnected")
    a(href="/api/instagram/auth" target="_self") Connect Instagram
    
p
  button(type="button" ng-click="deleteAccount()" class="btn btn-warning") Delete account
