h1 Account
p
  button(type="button" ng-click="connectInstagram()" class="btn btn-info" ng-disabled="hasInstagram") Connect with Tumblr

h3 Tumblr
button(type="button" ng-click="connectTumblr()" class="btn btn-info" ng-disabled="hasTumblr") Connect with Tumblr
div
  uib-accordion
    uib-accordion-group(ng-repeat="blog in blogs" heading="{{blog.name}}")
      pre {{blog | json : 2}}
    
p
  button(type="button" ng-click="deleteAccount()" class="btn btn-warning") Delete account
