.modal-body
  | This app uses Instagram for the media feed and Tumblr as
  | the reblog/queue endpoint. So you have to connect both to
  | start using this app.
  
  ul.list-group
    li(ng-hide="user.tumblr.token").list-group-item
      a(href="/api/tumblr/auth" target="_self") Connect Tumblr
    li(ng-hide="user.instagram.accessToken").list-group-item
      a(href="/api/instagram/auth" target="_self") Connect Instagram
  
  | If you've already connected, #[a(href='' ng-click="refresh()") refresh the page].
