div(ng-switch="provider")
  a(ng-switch-when="tumblr" href="/api/tumblr/auth" target="_self") Connect Tumblr
  a(ng-switch-when="instagram" href="/api/instagram/auth" target="_self").btn.btn-link Connect Instagram
