div(ng-switch="provider")
  span(ng-switch-when="tumblr" ng-click="connect(provider)").btn-sm.btn-info Connect Tumblr
  span(ng-switch-when="instagram" ng-click="connect(provider)").btn-sm.btn-info Connect Instagram
