form(class="css-form" ng-submit="ok()")
  .modal-header Login
  .modal-body
    .form-group(ng-show="error").alert-danger {{error}}
    .form-group(ng-show="success").alert-success {{success}}
    .form-group
      label(for="inputUsername") Username
      input.form-control(type="text" id="inputUsername" placeholder="Username" ng-model="username" required)
    .form-group
      label(for="inputPassword") Password
      input.form-control(type="password" id="inputPassword" placeholder="Password" ng-model="password" required)

  .modal-footer
    button(type="submit" ng-click="ok()" class="btn btn-primary") Log in
    button(type="button" ng-click="register()" class="btn btn-info") Register
    button(type="button" ng-click="cancel()" class="btn btn-warning") Cancel
