nav(class="navbar navbar-default" ng-controller="NavigationCtrl")
  .container-fluid
    .navbar-header
      button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a(href="/" class="navbar-brand") Tumblagramme
    #navbar(class="navbar-collapse collapse")
      ul.nav.navbar-nav
        li
          a(href="/") Instagram feed
      ul.nav.navbar-nav.navbar-right
        li(ng-controller="LoginCtrl" ng-hide="user.username")
          a(href="" ng-click="openModal()") Login
        li(uib-dropdown uib-keyboard-nav ng-show="user.username")
          a(href="#" uib-dropdown-toggle) Account
          ul(role="menu" class="uib-dropdown-menu")
            li.dropdown-header {{user.email}}
            li(role="menuitem") #[a(href="/logout") Logout]
