nav(class="navbar navbar-default" ng-controller="NavigationCtrl")
  .container-fluid
    .navbar-header
      button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a(href="/" class="navbar-brand") reblog.media
    #navbar(class="navbar-collapse collapse")
      ul.nav.navbar-nav.navbar-right
        li(uib-dropdown uib-keyboard-nav)
          a(href="#" uib-dropdown-toggle) Account
          ul(role="menu" class="uib-dropdown-menu")
            li(role="menuitem") #[a(href="/account" target="_self") Settings]
            li(role="menuitem") #[a(href="/logout" target="_self") Logout]
