nav(class="navbar navbar-default" ng-controller="NavigationCtrl")
  .container-fluid
    .navbar-header
      button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a(href="#" class="navbar-brand") Tumblagramme
    #navbar(class="navbar-collapse collapse")
      ul.nav.navbar-nav
        li #[a(href="/") Home]
        li(class="tagsDropdown" uib-dropdown uib-keyboard-nav is-open="tagsDropdownOpened")
          a(href="#" uib-dropdown-toggle ng-disabled="disabled") Tag feed
          ul(role="menu" class="uib-dropdown-menu")
            li.dropdown-header Quicktags
            li(role="menuitem" ng-repeat="tag in user.instagram.favoriteTags") #[a(href="/feed/{{tag}}") {{tag}}]
            li(role="separator" class="divider")
            li(role="menuitem") #[a(href="/feed") All ({{user.favoriteTags.length}})]
        li(class="statsDropdown" uib-dropdown uib-keyboard-nav is-open="statsDropdownOpened")
          a(href="#" uib-dropdown-toggle) Stats
          ul(role="menu" class="uib-dropdown-menu")
            li(role="menuitem") #[a(href="/stats/tumblr") Tumblr]
            li(role="menuitem") #[a(href="/stats/instagram") Instagram]
      ul.nav.navbar-nav.navbar-right
        li(class="accountDropdown" uib-dropdown uib-keyboard-nav is-open="accountDropdownOpened")
          a(href="#" uib-dropdown-toggle) Account
          ul(role="menu" class="uib-dropdown-menu")
            li.dropdown-header {{user.email}}
            li(role="menuitem") #[a(href="/oauth/tumblr") Connect Tumblr]
            li(role="menuitem") #[a(href="/account") Settings]
            li(role="menuitem") #[a(href="/logout") Logout]
