h2 {{preset.name}}
form(ng-submit="saveChanges()")
  .form-group(ng-show="error")
    .bg-warning {{error}}
  .form-group
    label Name
    div(ng-show="errors.name").bg-warning {{errors.name.message}}
    input.form-control(type="text" ng-model="preset.name" required)
      
  h3 Tumblr Post Options
  .form-group
    label Blog to post to
    div(ng-show="errors.blog.name").bg-warning {{errors.blog.name.message}}
    select(ng-model="preset.blog.name")
      option(ng-repeat="blog in blogs" value="{{blog.name}}") {{blog.name}}
  .form-group
    label Post type
    div(ng-show="errors.post.type").bg-warning {{errors.post.type.message}}
    select(ng-model="preset.post.type")
      option(value="photo") Photo
  .form-group
    label State
    div(ng-show="errors.post.state").bg-warning {{errors.post.state.message}}
    select(ng-model="preset.post.state")
      option(value="queue") Tumblr Queue
  .form-group
    label Caption template (HTML / Markdown)
    div(ng-show="errors.caption").bg-warning {{errors.caption.message}}
    textarea.form-control(ng-model="preset.post.caption")
  .form-group
    label Default tags
    div(ng-show="errors.post.tags").bg-warning {{errors.post.tags.message}}
    tag-selector(ng-model="preset.post.tags" tag-type="tumblr")

  h3 Instagram Feed
  .form-group
    label Search tags
    div(ng-show="errors.instagram.tags").bg-warning {{errors.instagram.tags.message}}
    tag-selector(ng-model="preset.instagram.tags" tag-type="instagram")
  .form-group
    h4 Nice things to do
    div
      input(type="checkbox" id="autoLike" ng-model="preset.instagram.autoLike")
      label(for="autoLike") Automatically like original media on Instagram when reblogging it
    div
      input(type="checkbox" id="autoFollow" ng-model="preset.instagram.autoFollow")
      label(for="autoFollow") Automatically follow original poster's account on Instagram when reblogging from it

  .form-group
    input.btn.btn-default(type="submit" value="Save changes")
