ul.tags
  li.tag.label.label-default(ng-repeat="tag in ngModel")
    | \#{{tag}}
    a(href="#" ng-click="removeTag($index)") x
input(ng-model="tagName" ng-keypress="onTagInputKeyPress($event)" placeholder="Add tag")
input(type="button" value="Add" ng-click="addTag()").btn-md.btn-md-default
