div(ng-class="{'has-error': error}").form-inline
  ul.tags
    li.tag.label.label-default(ng-repeat="tag in ngModel")
      | \#{{tag}}
      a(href="#" ng-click="removeTag($index)") x
  input(ng-model="tagName" ng-keypress="onTagInputKeyPress($event)" placeholder="Add tag").form-control-md
  p(ng-show="error").bg-danger {{error}}
  input(type="button" value="Add" ng-click="addTag()").btn-md.btn-md-default
