extends layout

block content
  :markdown
    # Privacy policy
    
    *Updated: 2016-02-04*

    We respect your privacy. Foreal.
    We don't care about who you are, what tags you are browsing or what blogs you are sharing to.
    All we care about is that you are happy with the service. So if you're not, **please** contact us and tell us why.

    ### What user information is collected?
      - Tumblr API OAuth access token & secret
      - Instagram API OAuth access token
      - Your Tumblr profile information
      - Your Instagram profile information
      
    ### Key points
    - We will **never ever** share or sell your information to anyone. Not now, and not in the future.
    - This app does not use third-party services to collect data and/or usage statistics. But please note:
      - When you browse Instagram content, the media is fetched from the Instagram API using an access token connected to your account. Please read [Instagram's privacy policy](https://www.instagram.com/legal/privacy/) for more information about how they handle your data.
      - When you post media to Tumblr, Tumblr chooses what happens to that data. Please read [Tumblr's privacy policy](https://www.tumblr.com/privacy_policy) for more information.
    - If this privacy policy is to be changed, you will be notified of the changes the next time you visit the site.
    - If you wish to delete your account, you can do so from your account page. We don't just set a "deleted" flag on your account, we completely, permanently and irreversibly delete your account from our records.
