extends templates/out-of-app

block content
  h2 Privacy policy
  i Updated: 2016-02-04

  p
    | We respect your (read: all of our) privacy. Foreal.
    | We don't care about who you are, what tags you are browsing or what blogs you are sharing to.
    | All we care about is that you are happy with the service. So if you're not, #[strong please] contact us and tell us why.

  h3 What user information is collected?
  ul
    li Tumblr API OAuth access token &amp; secret
    li Instagram API OAuth access token
    li Your Tumblr profile information
    li Your Instagram profile information
    
  h3 Key points
  ul
    li We will #[strong never ever] share or sell your information to anyone. Not now, and not in the future.
    li This app does not use third-party services to collect data and/or usage statistics. But please note:
      ul
        li When you browse Instagram content, the media is fetched from the Instagram API using an access token connected to your account. Please read #[a(href="https://www.instagram.com/legal/privacy/" target="_blank") Instagram&apos;s privacy policy] for more information about how they handle your data.
        li When you post media to Tumblr, Tumblr chooses what happens to that data. Please read #[a(href="https://www.tumblr.com/privacy_policy" target="_blank") Tumblr&apos;s privacy policy] for more information.
    li If this privacy policy is to be changed, you will be notified of the changes the next time you visit the site.
    li If you wish to delete your account, you can do so from your account page. We don't just set a "deleted" flag on your account, we completely, permanently and irreversibly delete your account from our records.
