#debug {
  position: absolute;
  top: 5em;
  right: 10em;
  background: #666;
  color: #f90;
  text-align: center;
  border: 1px solid #000;
  border-top: none;
  border-right: none;

  > pre {
    text-align: left;
  }
}
