body {
  background-color: #fefefe;
}

.login {
  padding: 1em;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  color: #333;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.tag {
  margin: .1em;
}

@import 'feed.less';
@import 'debug.less';
@import 'components.less';

.tags {
  padding: 0;
  display: block;

  .tag {
    padding: .5em;
    display: inline-block;

    a {
      color: #fff;
      margin-left: 5px;
      font-size: 90%;
    }
  }
}

.dropdown-menu .special-menu-item a {
  color: #00f;
  font-size: 90%;
  text-align: center;
  margin-top: 5px;
}

.preset-badge {
  margin: .5em;
  padding: .5em;
  border: 1px solid #000;
  background-color: #ccc;

  > img {
    margin: 0 .5em 0 0;
    border: 1px solid #000;
    display: inline-block;
    vertical-align: middle;
  }
}
