.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.tag {
  margin: .1em;
}

@import 'feed.less';
@import 'debug.less';

.tags {
  padding: 0;
  display: block;

  .tag {
    padding: .5em;
    display: inline-block;

    a {
      color: #fff;
      margin-left: 5px;
      font-size: 90%;
    }
  }
}
