h2(ng-show="currentTag") Posts in tag "{{currentTag}}"
h2(ng-hide="currentTag") Posts in all favorite tags ({{posts.length - dupesFiltered}})
#tags
  span(ng-repeat="tag in tags" class="label label-default tag")
    {{tag}}
  ng-pluralize(count="dupesFiltered" when="{'0': '', 'one': 'One dupe filtered', 'other': '{} dupes filtered'}")
    
#posts.container-fluid
  div.row(ng-repeat="chunk in chunkedPosts")
    div.col-md-4(ng-repeat="post in chunk")
      div(class="instagram-resource")
        img(ng-src="{{post.images.low_resolution.url}}")
        .controls
          div(class="btn-group" uib-dropdown)
            button#split-button(type="button" class="btn btn-sm btn-success" ng-click="share()") Add to queue
            button(type="button" class="btn btn-sm btn-default" uib-dropdown-toggle)
              span.caret
            ul.uib-dropdown-menu(role="menu")
              li(role="menuitem")
                a(href="#" ng-click="share()") Add to queue
              li(role="menuitem")
                a(href="#" ng-click="openInstagram()") Open Instagram page
              li(role="menuitem")
                a(href="#" ng-click="browseUser()") Browse more from user
